.nav {
    color: white;
    width: 100%;
    background-color: cornflowerblue;

}

header {
    width: 100%;
    text-align: center;
    background-color: lightblue;
    font: 17px Helvetica, Arial;
    position: fixed;
    top: 0;
}

.loginH1 {
  margin-top: 130px;
}

.signupH1 {
  margin-top: 130px;
}

.profileH1 {
  margin-top: 130px;
}

.indexH1 {
  margin-top: 130px;
}

.uploadH1 {
  margin-top: 130px;
}

*{
    font-family: 'Saira Condensed', sans-serif;
}

.body{
    background-color: #fafafa;
}

.uploadLabel{
    display: block;
}
