<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Sustainagram</h1>
        <div class="nav">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('upload') }}">Upload</a>
            <a href="{{ url_for('profile') }}">Profile</a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>