{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <main>
        <h1 class="loginH1">Login </h1>
        <form action="/login" method="POST">
            <table>
                <tr>
                    <td> Username:</td>
                    <td>
                        <input type="text" id="username" name="username">
                    </td>
                </tr>
                <tr>
                    <td> Password:</td>
                    <td>
                          <input type="password" placeholder="Enter Password" name="password" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type ="checkbox" value="remember-me"> Remember me
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name = "Sign in" type="submit" value="Sign In">
                    </td>
                </tr>
            </table>
        </form>
    </main>
    {% endblock %}






