{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <main>
        <h1 class="loginH1">Login </h1>

        <div>
            <th><label>Username:</label></th>

            <input type="text" id="username" name="username">
            <td><label> Password:</label><td></td>
            <input type="password"placeholder="Enter Password"name="password" required>

        </div>
        <div class="checkbox mb-3">
            <label>
                <input type ="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class = "w-100 btn btn-lg btn-primary"type="submit">Sign in</button>
    </main>
{% endblock %}
