{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <main>
        <h1 class="signupH1">Sign Up</h1>
        <form action="/signup" method="POST">
            <table>
                <tr>
                    <td>Email Address:</td>
                    <td>
                        <input name="email" type="text" placeholder="Enter email">
                    </td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td>
                        <input name="username" type="text" placeholder="Enter username">
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input name="password" type="password" placeholder="Enter password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="submit" type="submit" value="Sign Up">
                    </td>
                </tr>
            </table>
        </form>
    </main>
{% endblock %}
