{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <main>
        <h1 class="signupH1">Sign Up</h1>

        <form>
            <table>
                <tr>
                    <td>Email Address:</td>

                    <td>
                        <input type="email" placeholder="Enter email">
                    </td>
                </tr>

                <tr>
                    <td>Username:</td>

                    <td>
                        <input type="text" placeholder="Enter username">
                    </td>
                </tr>

                <tr>
                    <td>Password:</td>

                    <td>
                        <input type="password" placeholder="Enter password">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" value="Sign Up">
                    </td>
                </tr>
            </table>
        </form>
    </main>
{% endblock %}
